.hero {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.info,
.image {
  max-width: 50%;
}

.info {
  text-align: left;
  padding: 100px;
}

.image img {
  max-width: 100%;
}

.icon {
  vertical-align: top;
  margin-left: 20px;
  transition: all .5s;
}

.icon:hover {
  transform: scale(1.2) rotate(-5deg);
}

.cta {
  border-bottom: 3px solid var(--color-text-underlined);
  padding-bottom: 3px;
}
