* {
  font-family: 'Libre Franklin', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 200;
}

h3 {
  font-size: 1.4rem;
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

p,
li {
  font-size: 1.2rem;
}


body,
body[data-theme='light'] { /* stylelint-disable-line selector-no-qualifying-type */
  --color-text-underlined: rgb(252, 203, 199);
}

.content-wrapper {
  max-width: 80%;
  margin: 0 auto 60px;
}

.content {
  padding: 0 100px;
}
